<h3>Reactivo</h3>

@if (formRegistro) {
  <form [formGroup]="formRegistro" (ngSubmit)="signup()">
    <div>
      <label for="username" class="mx-2">Username</label>
      <input type="text" id="username" formControlName="username" />
      @if (formRegistro.get('username')?.errors) {
        <app-errors [errores]="formRegistro.get('username')?.errors"></app-errors>
      }
    </div>

    <div>
      <label for="email" class="mx-2">Email</label>
      <input type="text" id="email" formControlName="email" />
      @if (formRegistro.get('email')?.errors) {
        <app-errors [errores]="formRegistro.get('email')?.errors"></app-errors>
      }
    </div>

    <div>
      <label for="password" class="mx-2">Password</label>
      <input type="password" id="password" formControlName="password" />
      @if (formRegistro.get('password')?.errors) {
        <app-errors [errores]="formRegistro.get('password')?.errors"></app-errors>
      }
    </div>


    <!-- <button type="submit">Sign up</button> -->
    <button type="submit" [disabled]="formRegistro.invalid">Sign up</button>
  </form>
} @else {
  <p>Cargando...</p>
}