<h3>De plantilla</h3>

<form (ngSubmit)="signupSubmit(form)" #form="ngForm">
  <div class="my-2">
    <label for="username" class="mx-2">Username</label>
    <input type="text" id="username" name="username" [ngModel]="formRegistro.username" required />
  </div>

  <div class="my-2">
    <label for="email" class="mx-2">Email</label>
    <input type="text" id="email" name="email" [ngModel]="formRegistro.email" required />
  </div>

  <div class="my-2">
    <label for="password" class="mx-2">Password</label>
    <input type="password" id="password" name="password" [ngModel]="formRegistro.password" required minlength="5" />
  </div>

  <!-- <button type="button" (click)="signupBtn()">Sign up BTN</button> -->
  <button type="submit" class="my-2" [disabled]="form.invalid">Sign up</button>

</form>